body {
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}

h1 {
    font-size: 50px;
}

.name-color {
    color: orange;
}

.flexible-container {
    display: flex;
    margin-bottom: 100px;
}

.top-baner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.half-width {
    width: 50%;
    padding-left: 3%;
}

.half-width img {
    width: 75%;
}

.link-btn {
    text-decoration: none;
    background-image: linear-gradient(rgb(235, 203, 24), rgb(177, 118, 9));
    padding: 10px 40px;
    border-radius: 10px;
}

.dream-big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.experience-area {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.experience-item {
    width: 40%;
    height: 300px;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    box-shadow: 10px 10px 40px gray;
    border-radius: 10px;
}

#full-dev {
    border-left: 7px solid tomato;
}

#full-baby {
    border-left: 7px solid blue;
}

footer {
    text-align: center;
}